apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lang-detect-models
  labels:
    app: lang-detect-service
    component: storage
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 2Gi
  storageClassName: standard
